/* Normalizacion para quitar los estilos del navegador */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Miselaneous */
@import url('./miscelaneous/contenedores.css');
@import url('./miscelaneous/variables.css');
@import url('./miscelaneous/botones.css');

/* Partials */
@import url('./partials/footer.css');
@import url('./partials/header.css');

/* pages */
@import url('./pages/home.css');
@import url('./pages/admin.css');


*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

html{
    font-size: 62.5%;       /* el tamñano por defecto del navegador es de 16px colocando 62.5% queda a 10px lo que facilita utilizar las medidas "em" */
    color: var(--dark-5);
    font-family: var(--base-font);
}

a{
    text-decoration: none;
    font-family: inherit;
    font-size: 2em;         /* 2em -> 20px */
    color: inherit;         /* Toma el valor del padre */
}

ul, ol{
    list-style-type: none;
}

p, 
label,
.porcentaje     /* icono ? */
{
    font-size: 1.8em;
}




.filter_buscador{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: var(--spacing-28);
}



.item_precio{
    margin: var(--spacing-16) 0px;
    font-size: var(--font-size-l);
    font-weight: 400;
}




.link-azul{
    color: var(--blue-4);
    margin: var(--spacing-12);
}
.link-azul:hover{
    color: var(--blue-2);
}


.item_input{
    width: var(--spacing-28);
    font-size: var(--font-size-m);
    text-align: center;
}

.titulo_pag{                                /* titulo principal */
    font-size: var(--font-size-l);
    margin: var(--spacing-36) auto;
}

.filter_titulo{
    font-size: var(--font-size-m);
    margin: var(--spacing-12);
}

.centrar-izquierda{
    margin-left: 0px;
}

.margin-left{
    margin-left: var(--spacing-68);
}

.item_metodosPago{
    font-size: 0.8em;
    display: flex;
    color: var(--blue-2);
    align-items: center;
    font-weight: 500;
    margin: var(--spacing-16) 0px;
}

.item_metodosPago a{
    text-decoration: underline;
    margin-right: 4px;
}

/* fin normalizing */

body{
    background-color: var(--dark-bg-3);
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

/* nuevo item - editar */

.size-precio{
    width: 10rem;
    text-align: center;
}

.size-sku{
    width: 18rem;
}

.size-stock, 
.size-descuento{
    width: 6rem;
    text-align: center;
}

.size_precio{
    width: 4rem;
    /* text-align: center; */
}



.size-nombre{
    width: 30rem;
}

select{
    margin: var(--spacing-16);
    background-color: var(--dark-bg-1);
    /* background-color: var(--blue-5); */
    border: 1px solid var(--blue-4);
    border-radius: 5px;
    color: var(--ligh-1);
    padding: 0.7em 2em 0.7em 0.7em;
    font-size: var(--font-size-xs);
}

select::selection{
    color: #004830;
}



textarea{
    width: 100%;
    margin: var(--spacing-28) 0px;
    background-color: var(--dark-bg-1);
    border: none;
    outline: none;
    color: #141414;
    font-size: var(--font-size-s);
    padding: 1rem;
    color: var(--ligh-1);
}

.selectorDeImagenes{
    border: none;
    font-size: 1.5rem;
}

/* login */

input{
    background-color: var(--dark-bg-3);
    border: none;
    border-bottom: 2px solid var(--blue-4);
    outline: none;
    height: fit-content;
    color: var(--ligh-1);
    padding: 5px;
    font-size: var(--font-size-xs);
    margin: var(--spacing-16);
}



.checkbox{
    display: flex;
    align-items: center;
    
    /* margin: var(--spacing-12); */
}
.checkbox p{
font-size: var(--font-size-xs);
/* margin-left: var(--spacing-12); */

}
.checkbox a{
    font-size: var(--font-size-xs);
    color: var(--blue-3);
    margin-left: 6px;
}


#checkbox_recordarme{
    width: 17px;
    height: 17px;
}


/* admin */

.buscador{
    display: flex;
    margin: var(--spacing-28);
    margin-right: auto;
    width: 450px;
    height: 40PX;
    /* justify-content: space-between; */
    /* align-content: center; */
    /* align-items: center; */
    /* border: 1px solid white; */
}

.buscador_icono{
    width: 40px;
    height: 40px;
    /* border: 1px solid white; */
    fill: var(--ligh-1);
    
    /* text-decoration: none; */
}

.buscador_input{
    outline: none;
    border: none;
    margin: 0px;
    margin-left: var(--spacing-28);
    border-radius: 5px;
    padding: 10px 20px;
    width: 350px;
    font-size: var(--font-size-s);
    background-color: var(--dark-bg-1);
    color: var(--ligh-1);
}

.buscador_input:focus{
    outline: 3px solid var(--blue-4);
    text-decoration: none;
}

.filter_buscador_size{
    margin: auto;
    width: 20rem;
    /* border: 2px solid white; */
}

.filter_checkBox{               /* checkBox*/
    width: 20px;
    height: 20px;
    margin: 0.7rem var(--spacing-12);
}

.filter_precio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.filter_precio p,
.filter_precio input,
.filter_precio label{
    margin: 1rem 0px;
}

.filter_precio input{
    text-align: center;
    /* border: 3px solid var(--dark-bg-1); */
    border: none;
    background-color: var(--dark-bg-1);
    border-radius: 10px;
    width: 5rem;

}

/* titulo lista de productos */

.list_cabecera{
    display: flex;
    justify-content: space-between;
    /* margin: var(--spacing-36); */
    width: 100%;
}

.list_cabecera_link{
    display: flex;
    font-weight: bold;
    font-size: var(--font-size-xxs);
    align-items: center;
    margin-right: var(--spacing-68);
}

.list_cabecera_agregar{
    margin: 0 var(--spacing-16);
}

.list_cabecera_mas{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background-color: var(--dark-green-1); */
    background-color: var(--blue-4);
    color: var(--ligh-1);
    width: 32px;
    height: 32px;
    border-radius: 10%;
    font-weight: bold;
    font-size: var(--font-size-m);
}

.list_cabecera_link:hover{
    transform: translateY(-3px);
}

.list_cabecera_link:hover .list_cabecera_mas{
    background-color: var(--blue-3);
}









/* lista */
.list_item,
.list_item_cabecera{
    display: grid;
    margin: 0px var(--spacing-12);
    /* border: 2px solid black; */
    grid-auto-flow: column;
    grid-template-columns: minmax(5rem, 1fr) minmax(12rem, 1fr) minmax(30rem, 3fr) minmax(10rem, 1fr) 130px;
    gap: var(--spacing-36);
    justify-content: space-between;
    align-items: center;
    color: var(--ligh-1);
    /* height: 60px; */
    /* border: 2px solid yellow; */
}

.list_item_cabecera{
    font-size: var(--font-size-xxs);
    font-weight: bold;
    margin-bottom: var(--spacing-36);

}

.list_item{
    background-color: var(--dark-bg-2);
    height: 5rem;
}

.list_item:nth-child(even){
    background-color: var(--dark-bg-3);
}

.list_item:last-child{
    border-bottom: 2px solid var(--dark-bg-2);
}

.list_div_icono{
    /* border: 2px solid white; */
    display: flex;
    margin: auto;
}
.list_id{
    margin-left: var(--spacing-8);
}







/* iconos */
.icono{
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.icono_lapiz{
    fill: var(--blue-4);
}

.icono_lapiz:hover{
    cursor: pointer;
    fill: var(--blue-2);
    transform: translateY(-3px);
}

.icono_papelera{
    fill: var(--red-4);
}
.icono_papelera:hover{
    cursor: pointer;
    fill: var(--red-2);
    transform: translateY(-3px);
}

/* home */

/* tarjetas */
.tarjetas{
    /* border: 2px solid white; */
    /* margin: 4rem; */
    width: 35rem;
    min-width: 28rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.tarjetas img{
    width: 100%;
    
}

.tarjetas div{
    /* border: 2px solid white; */
    height: 14rem;
    display: flex;
    flex-flow: column nowrap;
    margin: var(--spacing-28) ;
    /* justify-content: space-between; */
}


.tarjetas_categoria,
.tarjetas_precio,
.tarjetas_cuotas{
    font-size: var(--font-size-xs);
    font-weight: 500;
    /* margin-top: var(--spacing-12); */
}
.tarjetas_titulo{
    font-size: var(--font-size-m);
    /* height: 100%; */
    margin: auto 0px;
}

.tarjetas_precio,
.tarjetas_cuotas{
    margin-top: 1rem;
}

.tarjetas_cuotas{
    color: var(--blue-3);
}





/* Crear seccion imagenes  */

.flex-box{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.img-box{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-content: space-between; */
    /* border: 2px solid var(--blue-4); */
    border-radius: 10px;
    max-width: 50%;
    min-width: 150px;
    min-height: 100px;
    padding: 15px;
    /* margin: 0px var(--spacing-36); */
}

.img-box img{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    /* margin-left: 10px; */
    padding: 0px;
    border: none;
}

img[src=""] {           /* Cuando no se carga ninguna imagen */
    display: none;
 }


 /* boton subir archivos imagenes */

  input[type=file]{
    color: transparent;
    width: 90px;
    margin: 10px 0px;
    padding: 0px;
}

  .img-nombre{
    font-size: 1.6rem;
  }



  /* verificacion de un input basica mediante CSS, para subrayar en rojo 


  input:invalid + span:after {
  position: absolute;
  content: "✖";
  padding-left: 5px;
}

input:valid + span:after {
  position: absolute;
  content: "✓";
  padding-left: 5px;
}

*/



/* pagina de error */

.error_titulo{
    color: var(--red-2);
    font-size: 64px;
    margin: 64px 120px;
}

.error_mensaje{
    color:white;
    border: 1px solid var(--red-1);
    padding: 10px;
    margin: 0px 120px;
    font-size: 20px;
    height: 120px;
}

.error_contador{
    color:white;
    /* border: 2px solid grey; */
    margin: 20px 120px;

}
.error_timer{
    color: greenyellow;
}

.error_container{
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
}

.error_boton{
    margin: 32px;
    color: var(--blue-4);

}


/* admin list - cambiar a resaltador (hay que cambiar en el javascript de buscador)*/
.amarillo{
    color: yellowgreen;
    font-weight: 800;
    /* text-shadow: 0px 0px 5px yellowgreen; */
}