/* Login - Register */

input{
    background-color: var(--dark-bg-3);
    border: none;
    border-bottom: 2px solid var(--blue-4);
    outline: none;
    height: fit-content;
    color: var(--ligh-1);
    padding: 5px;
    font-size: var(--font-size-xs);
    margin: var(--spacing-16);
    align-items: center;
}

.ingresar,
.terminos,
.checkbox{
    display: flex;
    align-items: center;
    /* margin: var(--spacing-28) 0 */
}

.ingresar
.terminos{
    /* margin-top: 100px; */
    flex-direction: column;
    align-items: space-between;
    justify-items: space-between;
    margin-bottom: var(--spacing-68);
}

.checkbox{
    margin: var(--spacing-28) 0 var(--spacing-36);
}

.checkbox a{
    font-size: 20px;
    color: var(--blue-3);
    margin-left: 6px;
    
}

.link-azul{
    color: var(--blue-4);
    margin: var(--spacing-12);
}

.link-azul:hover{
    color: var(--blue-2);
}

#checkboxCondiciones{
    width: 20px;
    height: 20px;
}


/* registration */
.register_error{
    color: var(--red-2);
    margin: var(--spacing-36) auto;
}