<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Document</title>
</head>
<body>
    <main>    
        <h1 class="error_titulo">ERROR !!!</h1>
        <p class="error_mensaje"><%= err.message %></p>
        <p class="error_contador">Se reintentara en <span class="error_timer">30</span> segundos</p>
        <script src="../js/error.js"></script>
    </main>
</body>
</html>