<%- include('./partials/header')%>
    <section class="baner_section">
        <div class="baner"></div>
        <div class="baner_box container-pagina" >
        <h3 class="baner_titulo">Nuevos Ingresos</h3>
        <h6 class="baner_descripcion">Descubri el proximo Funko Pop de tu coleccion</h6>
        <!-- <input class="boton-blanco" type="button" value="SHOP"> -->
        <a class="boton-blanco" href='/shop'>SHOP</a>
        </div>
    </section>    
    <main class="container-pagina">
        <section class="descripcion">
            <div class="container_contenido" >
                <div>
                    <H2>STAR WARS & THE MANDALORIAN</H2>
                    <h5>Disfruta de una safa que sigue agregando personajes a su coleccion.</h5>
                    <hr>
                    <input class="boton-redondo" type="button" value="Ver Coleccion">
                </div>
                <img src="../../recursos/star-wars/baby-yoda-1.webp" alt="">    
            </div>
            <div class="container_contenido">
                <div>
                    <H2>POKEMON INDIGO</H2>
                    <h5>Atrapa todos los que puedas y disfruta de una coleccion llena de amigos.</h5>
                    <hr>
                    <input class="boton-redondo" type="button" value="Ver Coleccion">
                </div>
                <img src="../../recursos/pokemon/vulpix-1.webp" alt="">
            </div>
            <div class="container_contenido">
                <div>
                    <H2>HARRY POTTER</H2>
                    <h5>Revive los recuerdos de una saga llena de magia y encanto</h5>
                    <hr>
                    <input class="boton-redondo" type="button" value="Ver Coleccion">
                </div>
                <img src="../../recursos/harry-potter/snape-patronus-1.webp" alt="">
            </div>
        </section>
        <h2 class="titulo_pag centrar-izquierda" >ULTIMOS LANZAMIENTOS</h2>
        <section class="container_tarjetas">
            <div class="tarjetas">
                <img src="../../recursos/star-wars/trooper-1.webp" alt="">
                <div>
                    <h6 class="tarjetas_categoria" >STAR WARS</h6>
                    <h5 class="tarjetas_titulo" >STORMTROOPER LIGHTSABER</h5>
                    <h6 class="tarjetas_precio">$ 1799,99.-</h6>
                    <h6 class="tarjetas_cuotas" >3 cuotas sin interes</h6>
                </div>
            </div>
            <div class="tarjetas">
                <img src="../../recursos/pokemon/pidgeotto-1.webp" alt="">
                <div>
                    <h6 class="tarjetas_categoria" >POKEMON</h6>
                    <h5 class="tarjetas_titulo" >PIDGEOTTO</h5>
                    <h6 class="tarjetas_precio">$ 1799,99.-</h6>
                    <h6 class="tarjetas_cuotas" >3 cuotas sin interes</h6>
                </div>
            </div>
            <div class="tarjetas">
                <img src="../../recursos/harry-potter/luna-1.webp" alt="">
                <div>
                    <h6 class="tarjetas_categoria" >HARRY POTTER</h6>
                    <h5 class="tarjetas_titulo" >LUNA LOVEGOOD LION MASK</h5>
                    <h6 class="tarjetas_precio">$ 1799,99.-</h6>
                    <h6 class="tarjetas_cuotas" >3 cuotas sin interes</h6>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer')%>