<footer class="footer">
    <div class="footer_div container-header-footer">
        <nav class="footer_nav">
            <ul class="footer_nav_ul">
                <li class="footer_li"><a href="/shop" class="footer_link">SHOP</a></li>
                <li class="footer_li"><a href="/admin/list" class="footer_link">INGRESAR</a></li>
                <li class="footer_li"><a href="/auth/register" class="footer_link">REGISTRARSE</a></li>
                <li class="footer_li"><a href="" class="footer_link">CONTACTO</a></li>
            </ul>
        </nav>
        <picture class="footer_picture">
            <img src="/img/branding/isotype.svg" alt="Imagen del footer">
        </picture>
    </div>
    <p class="footer_disclaimer">Leopoldo Nemec - Funkoshop & copy</p>
</footer>
</body>
</html>