<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>Admin</title>
</head>
<body>
    <header class="header">
        <nav class="header_nav container-header-footer">
            <a class="header_logo" href="/"><img class="" src="/img/branding/logo_light_horizontal.svg" alt="logo"></a>
            <a class="header_link" href="/admin/list">SALIR</a>
        </nav>
    </header>