<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>Admin</title>
</head>
<body>
    <header class="header">
        <nav class="header_nav container-header-footer">
            <a class="header_logo" href="/"><img class="" src="/img/branding/logo_light_horizontal.svg" alt="logo"></a>
            <div class="header_link">
                <% if(locals.isLogged){ %>
                    <% headerMenu.forEach(opcion => { %>
                        <div class="header_link_blue"><a href="<%= opcion.url %>"> <%= opcion.menu %> </a></div><!-- o SHOP dependiendo la pag -->
                    <% }) %>
                    <div class="header_link_red"><a  href="/auth/logout"> SALIR </a></div> <!-- o Entrar dependiendo la pag redirigr a login o a logout -->
                <% }else{ %>
                    <div class="header_link_blue"><a href="/auth/login"> INGRESAR </a></div> <!-- o Entrar dependiendo la pag redirigr a login o a logout -->
                <% } %>
                <a class="" href="/">
                    <svg class="icono icono-cart" role="img">
                        <use xlink:href="/icons/icons.svg#cart" alt="carrito"></use>
                    </svg>
                </a>
                <!-- <div class="header_link_blue"><a href="/"> Carrito - Icono </a></div> dependiendo la pag si esta en admin no hace falta -->
            </div>
        </nav>
    </header>