
.boton-standar{
    background-color: var(--blue-4);
    color: var(--ligh-1);
    border-style: none;
    height: 45px;
    padding: var(--spacing-12) var(--spacing-16);
    font-size: var(--font-size-xs);
    min-width: 13rem;
}

.boton-redondo{
    border-radius: 30px;
    height: auto;
    font-size: 1em;
}

.boton-delete{
    background-color: transparent;
    border: none;
    width: fit-content;
}

.boton-item{
    font-size: var(--font-size-m);
    font-weight: bold;
    width: 32px;
    height: 32px;
    margin: 0px var(--spacing-8);
    background-color: var(--blue-4);
    border: none;
    color: var(--ligh-1);
}


.boton-blanco{
    color: var(--dark-bg-4);
    background-color: var(--ligh-1);
    border-radius: 30px;
    min-width: 24rem;
    height: 5rem;
    border-style: none;
    font-size: var(--font-size-m);
    margin: var(--spacing-68) 0px;
}

.boton-blanco:hover{
    background-color: var(--blue-4);
    color: var(--ligh-1);
    /* transform: translateY(-2px); */
    cursor: pointer;
}



.boton-standar,
.boton-redondo{
    background-color: var(--blue-4);
    color: var(--ligh-1);
    border-style: none;
    height: 45px;
    padding: var(--spacing-12) var(--spacing-16);
    /* margin: 0 var(--spacing-16); */
    font-size: var(--font-size-xs);
    min-width: 13rem;
}

.boton-standar:hover,
.boton-redondo:hover,
.boton-item:hover{
    background-color: var(--blue-2);
}

