<%- include('../partials/header')%>
    <main class="container-pagina">
        <h2 class="titulo_pag">INGRESAR A MI CUENTA</h2>
        <section>
            <div class="sub-container">
                <p class>Email</p>
                <input type="email" placeholder="johndoe@correo.com">
            </div>
            <div class="sub-container">
                <p>Contraseña</p>
                <input type="password" placeholder="••••••••">
            </div>
            <div class="sub-container container-center">
                <button class="boton-standar" type="button">Ingresar</button>
                <div class="checkbox">
                    <input type="checkbox" name="Recordarme" id="checkbox_recordarme">
                    <p>Recordarme</p>
                </div>
            </div>
        </section>
        <a class="link-azul" href="">Olvidé mi contraseña</a>    
    </main>

    <%- include('../partials/footer')%>