<%- include('../partials/header')%>
    
    <main class="container-pagina">
        <h2 class="titulo_pag">INGRESAR A MI CUENTA</h2>
            <form action="/auth/login" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="sub-container">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="johndoe@correo.com">
                </div>
                <div class="sub-container">
                    <label for="pass">Contraseña</label>
                    <input type="password" name="password" id="pass" placeholder="••••••••">
                </div>
                <!-- <div class="sub-container container-center"> -->
                <div class="ingresar">
                    <button class="boton-standar" type="submit">Ingresar</button>
                    <div class="checkbox">
                        <a class="link-azul" href="">Olvidé mi contraseña</a>
                    </div>
                </div>
            </form>
    </main>

    <%- include('../partials/footer')%>