<%- include('../partials/header')%>
    <main class="container-pagina">
        <h2 class="titulo_pag">CREA TU CUENTA</h2>
        <section>
            <div class="sub-container">
                <p class>Nombre</p>
                <input type="text" placeholder="John">
            </div>
            <div class="sub-container">
                <p class>Apellido</p>
                <input type="text" placeholder="Doe">
            </div>
            <div class="sub-container">
                <p class>Email</p>
                <input type="email" placeholder="johndoe@correo.com">
            </div>
            <div class="sub-container">
                <p>Contraseña</p>
                <input type="password" placeholder="••••••••">
            </div>
            <div class="sub-container">
                <p>Repita Contraseña</p>
                <input type="password" placeholder="••••••••">
            </div>
            <div class="sub-container conteiner-registrarse">
                <button class="boton-standar" type="button">Registrarse</button>
                <div class="checkbox">
                    <input type="checkbox" name="Recordarme" id="checkbox_recordarme">
                    <p>Acepto</p>
                    <a href="">Términos y Condiciones</a>
                </div>
            </div>
        </section>  
    </main>
    <%- include('../partials/footer')%>